<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">FAN</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/">Dashboard</a>
        <a class="nav-item nav-link" href="/fitness">Fitness</a>
        <a class="nav-item nav-link disabled" href="/nutrition">Nutrition</a>
      </div>
      <span class="navbar-text"><a href="/signin">Sign in</a></span>
    </div>
  </nav>
</header>
