<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <form action = "/bw_goal_set" method = "POST">
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 card-container d-flex justify-content-center">

          <div class="col col-lg-2">
          </div>
          <div class="col-md-auto">

            <div class="text"> <h1> Set New Goals: </h1>
            </div>


            <div class = "goal-card" id = "set_bw_goal_div">

                <br>
                <h6> Set New Body Weight Goal </h6>
                <br>
                <br>

                <label for="integerInputInvalid">Enter New Bodyweight Goal</label>
                <br>

                    <input type="number" class="form-control-lg" id="integerInputValue" placeholder="lbs" value="lbs" name = "body_weight_goal">
                    <button type="submit" class="btn btn-info" > Save

                    </button>

                <br>
                <br>

          </div>
          <div class="col col-lg-2">
          </div>
        </div>
    </div>
</forum>

    <script>
        document.getElementById("set_bw_goal_div").style.outline = "thin solid #FFFFFF";
    </script>
</main>
<%- include ('../partials/footer') %>