<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<style type="text/css">
  body {
    background-color: rgba(164, 195, 178);
  }
</style>

<br>

<button
  type="submit"
  class="btn btn-primary button"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="background-color:darksalmon"
>
  Edit previous workouts
</button>

<br>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i> Edit Workouts </i></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="background-color: crimson;"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="Weekday" class="form-label">Workout Date</label>
          </div>

          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Select a date
            </button>
          </div>

          <tr>
            <!-- INPUT DATE FOR FITNESS TABLE -->
            <td>
              <input
                type="text"
                id="muscle_id"
                class="form-control"
                placeholder="Chest, Shoulder, Back, Arms or Legs"
                name="muscle"
              />
            </td>
            <td>
              <input
                type="text"
                id="exercise_id"
                class="form-control"
                placeholder="Bench Press"
                name="exercise"
              />
            </td>
            <td>
              <input
                type="float"
                id="weight_id"
                class="form-control"
                placeholder="0.0"
                name="weight"
              />
            </td>
            <td>
              <input
                type="int"
                id="sets_id"
                class="form-control"
                placeholder="0"
                name="sets"
              />
            </td>
            <td>
              <input
                type="int"
                id="reps_id"
                class="form-control"
                placeholder="0"
                name="reps"
              />
            </td>
            <td>
              <button
                action="submit"
                class="btn-outline-success"
                style="background-color: green"
              >
                Add
              </button>
            </td>
          </tr>
        </table>

        </form>
      </div>
      <div class="modal-footer">
        <button
          id="submit_button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          type="submit"
          style="background-color: crimson"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<b
  ><i><h1>Today</h1></i></b
>

<div class="card-group">
  <div class="card">
    <div class="card-body">
      <u><h5 class="card-title">Muscle Groups</h5></u>
      <p class="card-text">Log your muscle group(s) worked today:</p>

      <!-- INPUT FORM -->
      <form action="/fitness" method="POST">
        <!-- TABLE DEFINITION -->
        <table padding-bottom: 30px>
          <!-- HEADER -->
          <tr style="border-bottom: 1px solid black">
            <th>Day</th>
            <th>Muscle</th>
            <th>Exercise</th>
            <th>Weight</th>
            <th>Sets</th>
            <th>Reps</th>
          </tr>
          <!-- INPUT ROW-->
          <tr>
            <!-- INPUT DATE FOR FITNESS TABLE -->
            <td>
              <input type="date" id="day_id" class="form-control" name="day" />
            </td>
            <td>
              <input
                type="text"
                id="muscle_id"
                class="form-control"
                placeholder="Chest, Shoulder, Back, Arms or Legs"
                name="muscle"
              />
            </td>
            <td>
              <input
                type="text"
                id="exercise_id"
                class="form-control"
                placeholder="Bench Press"
                name="exercise"
              />
            </td>
            <td>
              <input
                type="float"
                id="weight_id"
                class="form-control"
                placeholder="0.0"
                name="weight"
              />
            </td>
            <td>
              <input
                type="int"
                id="sets_id"
                class="form-control"
                placeholder="0"
                name="sets"
              />
            </td>
            <td>
              <input
                type="int"
                id="reps_id"
                class="form-control"
                placeholder="0"
                name="reps"
              />
            </td>
            <td>
              <button
                action="submit"
                class="btn-outline-success"
                style="background-color: green"
              >
                Add
              </button>
            </td>
          </tr>
        </table>
        <!-- END OF TABLE -->
      </form>
    </div>
  </div>
  <img src="https://images.unsplash.com/photo-1521805103424-d8f8430e8933?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" 
    class="card-img-top" 
    alt="Exercise" 
    height="600"
    />
  <!-- END OF CARD -->
</div>

<%- include ('../partials/footer') %>

<!-- <div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Select a body part
  <span class="caret"></span></button>
  <ul class="dropdown-menu">

    <li><a type="button" class="text-info" data-toggle="modal" data-target="#ChestModal">
        Chest</a></li>

    <li><a type="button" class="text-info" data-toggle="modal" data-target="#BackModal">
        Back</a></li>

        </div>
      </div>
    </div>
</body>
  
</html>

    <li><a type="button" class="text-info" data-toggle="modal" data-target="#LegsModal">
        Legs</a></li> 
  </ul>
</div> -->
