<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        Welcome, <%= username %><!--EJS reference to Usernames-->
        <br>
        <br>
        <br>
        <br>
        <div class="card" style="width: 18rem;"> <!-- Card One: Exercise History-->
          <img 
          src="https://i.ytimg.com/vi/W23xfdEqHtg/maxresdefault.jpg" class="card-img-top" alt="..."
          alt="Logo"
          width="30px"
          />
          <div class="card-body">
            <h5 class="card-title">Exercise History</h5>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Select a body part
              <span class="caret"></span></button>
              <ul class="dropdown-menu">

                <!-- CHEST BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ChestModal">
                    Chest</a></li>
                <!-- BACK BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#BackModal">
                    Back</a></li>
                <!-- ARMS BUTTON MODAL-->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ArmsModal">
                    Arms</a></li> 
                <!-- ARMS BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#ShouldersModal">
                    Shoulders</a></li>
                <!-- LEGS BUTTON MODAL -->
                <li><a type="button" class="text-info" data-toggle="modal" data-target="#LegsModal">
                    Legs</a></li>
                
              </ul>
            </div>
          </div>
        </div>

        <!-- Spacing -->
        <br>
        <br>

        <!-- Chest Modal -->
        <div class="modal fade" id="ChestModal" tabindex="-1" role="dialog" aria-labelledby="#ChestModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ChestModalTitle">Chest History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- CHEST TABLE -->
                <table class="table">
                  <!-- TABLE HEADER -->
                  <thead>
                    <tr>
                      <th scope="col">Day</th>
                      <th scope="col">Exercise</th>
                      <th scope="col">Weight</th>
                      <th scope="col">Sets</th>
                      <th scope="col">Reps</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr> 
                      <th scope="row">Bench Press:</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td> -->
                    </tr>
                    <tr>
                      <th scope="row">Flys: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Incline Bench Press: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Push Ups: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Decline Bench Press: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Back Modal -->
        <div class="modal fade" id="BackModal" tabindex="-1" role="dialog" aria-labelledby="#BackModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="BackModalTitle">Back History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Back Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Exercise</th>
                      <th scope="col">Last Recorded Weight</th>
                      <th scope="col">Sets x Reps</th>
                      <th scope="col"> PR </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Straight Bar Rows: </th>
                      <td> </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Lat Pull-Down: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Lawnmower Rows: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Pull-Ups: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Chin-Ups: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Arms Modal -->
        <div class="modal fade" id="ArmsModal" tabindex="-1" role="dialog" aria-labelledby="#ArmsModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ArmsModalTitle">Arms History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- Arms Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Exercise</th>
                      <th scope="col">Last Recorded Weight</th>
                      <th scope="col">Sets x Reps</th>
                      <th scope="col"> PR </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Bicep Curls: </th>
                      <td> </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Dips: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Skull Crushers: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Close Grip Bench Press: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Preacher Curls: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Shoulders Modal -->
        <div class="modal fade" id="ShouldersModal" tabindex="-1" role="dialog" aria-labelledby="#ShouldersModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ShouldersModalTitle">Shoulders History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <!-- Shoulders Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Exercise</th>
                      <th scope="col">Last Recorded Weight</th>
                      <th scope="col">Sets x Reps</th>
                      <th scope="col"> PR </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Shoulder Press: </th>
                      <td> </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Rear-Delt Flys: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Front Raises: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Lateral Raises: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Shrugs: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Legs Modal -->
        <div class="modal fade" id="LegsModal" tabindex="-1" role="dialog" aria-labelledby="#LegsModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="LegsModalTitle">Legs History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <!-- Legs Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Exercise</th>
                      <th scope="col">Last Recorded Weight</th>
                      <th scope="col">Sets x Reps</th>
                      <th scope="col"> PR </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Squat: </th>
                      <td> </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Dead Lift: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Leg Extension: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Calf Raises: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Bulgarian Split Squats: </th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!--Card #2: Water Intake-->
        <div class="card" style="width: 18rem;"> 
          <img 
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Man_Drinking_Water_Cartoon.svg/800px-Man_Drinking_Water_Cartoon.svg.png" class="card-img-top"
          alt="Logo"
          width="30px"
          />
          <h5 class="card-title">Water History</h5>
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"> Select a time frame
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Week</a></li>
                <li><a href="#">Month</a></li>
                <li><a href="#">Year</a></li>
              </ul>
            </div>
            <br>
          </div>
        <br>
        <br>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</main>
<%- include ('../partials/footer') %>