<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        Welcome, <!--EJS reference to Usernames-->
        <br>
        <br>
        <br>
        <br>
        <div class="card" style="width: 18rem;"> <!-- Card One: Exercise History-->
          <img 
          src="https://i.ytimg.com/vi/W23xfdEqHtg/maxresdefault.jpg" class="card-img-top" alt="..."
          alt="Logo"
          width="30px"
          />
          <div class="card-body">
            <h5 class="card-title">Exercise History</h5>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select a body part
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <!-- Button trigger modal -->
                <li><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChestModal">
                    Chest
                  </a>
                </li>
                <li><a href="#">Back</a></li>
                <li><a href="#">Arms</a></li>
                <li><a href="#">Shoulders</a></li>
                <li><a href="#">Legs</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <br>
        <!-- Chest Modal -->
        <div class="modal fade" id="ChestModal" tabindex="-1" role="dialog" aria-labelledby="#ChestModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ChestModalTitle">Chest History</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Previous Exercise -->
                <p>Exercise: <form action="/recent_exercise" method="GET"></form></p>
                <!-- PRs -->

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card" style="width: 18rem;"> <!--Card #2: Water Intake-->
          <img 
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Man_Drinking_Water_Cartoon.svg/800px-Man_Drinking_Water_Cartoon.svg.png" class="card-img-top"
          alt="Logo"
          width="30px"
          />
          <h5 class="card-title">Water History</h5>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Select a time frame
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Week</a></li>
                <li><a href="#">Month</a></li>
                <li><a href="#">Year</a></li>
              </ul>
            </div>
            <br>
          </div>
        <br>
        <br>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</main>
<%- include ('../partials/footer') %>