<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        Welcome, 
        <br>
        <br>
        <br>
        <br>
        <div class="card" style="width: 18rem;">
          <img src="../resources/3308_project_img#1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Exercise History</h5>
            <p class="card-text">blah blah</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <br>
        <br>
        <div class="card" style="width: 18rem;">
          <img src="../resources/man_drinking_water_img.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <br>
        <br>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</main>
<%- include ('../partials/footer') %>