<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main class="d-flex align-items-center" style="height: 100vh;">
    <h1> Welcome </h1>
    <h1> Let's get started </h1>
</main>
<%- include ('../partials/footer') %>