<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <form action = "/registrationSurvey" method = "POST">
    <div class="container text-center">
            <!--Welcome Message -->
            <div class="welcome-message">
                <br>
                <h1> Welcome To FINA </h2>
                <br>
                <br>
                
                <!-- Pre-Survey Statment -->
    
                <h2> Before you begin your fitness journey, help us get to know you better... </h6> 
                <br>

            </div>
            
            <!-- Button To Launch Goals -->
            <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target="#goalPageOne">
            Take Survey
            </button>

            <!-- Goal Weight and Water Modal Trigger -->
            <form>
                <dciv class="modal fade" id="goalPageOne" tabindex="-1" role="dialog" aria-labelledby="goalPageOneTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content modal">
                            <div class="modal-header modal-style">
                                <h5 class="modal-title modal-style" id="goalPageOneTitle"> Weight and Water Goals</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body modal-style">
                                    <input type="date" id="day_id" class="form-control" name="goal_day" />
                                    <label for="day_id">Enter The Date</label>
                                    <input type="number" class="form-control" id="integerInputValue" placeholder="cups" value="cups" name ="water_intake_goal">
                                    <label for="integerInputValue">Enter Water Goal</label>
                                    <input type="number" class="form-control" id="integerInputValue" placeholder="lbs" value="lbs" name = "body_weight_goal">
                                    <label for="integerInputInvalid">Enter Bodyweight Goal</label>
                            </div>
                            <div class="modal-footer modal-style">
                                <button type="button" class="btn btn-secondary modal-button" data-dismiss="modal">Close</button>

                                <!-- Next Button -->
                                <button type="submit" class="btn btn-primary modal-button">
                                    Done
                                </button>
                            </div>
                </dciv>
            </form>
        </div>
    </form>
</main>
<%- include ('../partials/footer') %>