<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col-6">

            <!--Welcome Message -->
            <br>
            <h2> Welcome To FINA </h2>
            <br>
            <br>
            
            <!-- Pre-Survey Statment -->

            <h6> Before you begin your fitness journey, help us get to know you a bit better by taking this survey </h6> 
            <br>
            
            <!-- Button To Launch Goals -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#goalPageOne">
            Take Survey
            </button>

            <!-- Goal Weight and Water Modal Trigger -->
            <div class="modal fade" id="goalPageOne" tabindex="-1" role="dialog" aria-labelledby="goalPageOneTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="goalPageOneTitle"> Weight and Water Goals</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <!-- Next Button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#goalPageTwo">
                        Next
                    </button>

                </div>
                </div>
                </div>
            </div>

            <!-- Goal Weight and Water Modal -->
            <div class="modal fade" id="goalPageOne" tabindex="-1" role="dialog" aria-labelledby="goalPageOneTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="goalPageOneTitle"> Weight and Water Goals</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                        
                    <!-- Next Button -->
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" data-toggle="modal" data-target="#goalPageTwo">
                        Next
                        </button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Exercsie Goal Modal -->
            <div class="modal fade" id="goalPageTwo" tabindex="-1" role="dialog" aria-labelledby="goalPageTwoTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="goalPageTwoTitle"> Weight Lifting Goals</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">

                    <!-- Done Button -->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
                    </div>
                </div>
                </div>
            </div>


           </div>
          <div class="col">
            3 of 3
          </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>