<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <div class="container text-center">


            <!--Welcome Message -->
            <div class="welcome-message">
                <br>
                <h1> Welcome To FINA </h2>
                <br>
                <br>
                
                <!-- Pre-Survey Statment -->
    
                <h2> Before you begin your fitness journey, help us get to know you better... </h6> 
                <br>

            </div>
            
            <!-- Button To Launch Goals -->
            <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target="#goalPageOne">
            Take Survey
            </button>

            <!-- Goal Weight and Water Modal Trigger -->
            <div class="modal fade" id="goalPageOne" tabindex="-1" role="dialog" aria-labelledby="goalPageOneTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modal">
                    <div class="modal-header modal-style">
                    <h5 class="modal-title modal-style" id="goalPageOneTitle"> Weight and Water Goals</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body modal-style">
                        <form class="form-floating">
                            <input type="number" class="form-control" id="floatingInputValue" placeholder="cups" value="cups">
                            <label for="floatingInputValue">Enter Water Goal</label>
                        </form>
                        <form class="form-floating">
                            <input type="number" class="form-control" id="floatingInputValue" placeholder="lbs" value="lbs">
                            <label for="floatingInputInvalid">Enter Bodyweight Goal</label>
                        </form>
                    </div>
                    <div class="modal-footer modal-style">
                    <button type="button" class="btn btn-secondary modal-button" data-dismiss="modal">Close</button>

                    <!-- Next Button -->
                    <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target="#goalPageTwo">
                        Next
                    </button>
                </div>
                </div>
                </div>
            </div>
</main>

<%- include ('../partials/footer') %>