<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<main>
    <form action = "/water_goal_set" method = "POST">
    <div class="container text-center">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
          </div>
          <div class="col-md-auto">

            <br>
            <h1> Set New Water Goals: </h1>

                <br>
                <br>

                <div id = "set_water_goal_div">

                    <br>
                    <h6> Set New Water Intake Goal </h6>
                    <br>
                    <br>
    
                    <label for="integerInputInvalid">Enter New Water Goal</label>
                    <br>
    
                    <input type="number" class="form-control-lg" id="integerInputValue" placeholder="cups" value="cups" name = "water_intake_goal">
                    <button type="submit" class="btn btn-info" > Save

                    </button>
    
                    <br>
                    <br>
                
         </div>

              </div>
          <div class="col col-lg-2">
          </div>
        </div>
    </div>
</forum>

    <script>
        document.getElementById("set_water_goal_div").style.outline = "thin solid #FFFFFF";
    </script>
</main>
<%- include ('../partials/footer') %>