<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <!-- <a href="/daily_fitness">Daily Fitness</a> -->

  <div class="container">
    <h1>Weekly Fitness</h1>

    <div class="card-group">
      <div class="card m-1 bg-white rounded">
        <div class="card-header">
          <h6>Monday <a href="/daily_fitness">Edit</a></h6>
        </div>
        <div class="card-body">
          <h4>Arms</h4>
          <p>&emsp;- Bench Press -- 3x8 @ 150</p>
          <p>&emsp;- Flys</p>
          <p>&emsp;- Incline Bench Press</p>
          <p>&emsp;- Push Ups</p>
          <p>&emsp;- Decline Bench Press</p>
        </div>
      </div>

      <div class="card m-1 bg-white rounded">
        <div class="card-header">
          <h6>Tuesday <a href="/daily_fitness">Edit</a></h6>
        </div>
        <div class="card-body">
          <h4>Legs</h4>
        </div>
      </div>

      <div class="card m-1 bg-white rounded">
        <div class="card-header">
          <h6>Wednesday <a href="/daily_fitness">Add</a></h6>
        </div>
        <div class="card-body"></div>
      </div>

      <!-- <div class="card m-1 bg-white rounded">
        <div class="card-header">
          <h6>Thursday <a href="/daily_fitness">Add</a></h6>
        </div>
        <div class="card-body"></div>
      </div>

      <div class="card m-1 bg-white rounded">
        <div class="card-header">
          <h6>Friday <a href="/daily_fitness">Add</a></h6>
        </div>
        <div class="card-body"></div>
      </div>

      <div class="card m-1 bg-white rounded">
        <div class="card-header">
          <h6>Saturday <a href="/daily_fitness">Add</a></h6>
        </div>
        <div class="card-body"></div>
      </div>

      <div class="card m-1 bg-white rounded">
        <div class="card-header">
          <h6>Sunday <a href="/daily_fitness">Add</a></h6>
        </div>
        <div class="card-body"></div>
      </div> -->
    </div>
  </div>
</main>

<%-include ('../partials/footer') %>
